.top{
    background-color: rgb(106, 231, 190);
    height: 60px;

}
.left{
    background-color: rgb(212, 184, 107) ;
    width:  100px;
}
.right{
    background-color: rgb(84, 84, 175);
    display: flex;
    flex: 1;

} 
main{
    display: flex;
    height: 100vh;
}
